.nav1-my-city #primary-nav-wrap {
background: none;
height: 26px;
}
#geoip-redirect-search-form-wrapper {
background-color:#D7B080;
border-top:1px solid #FFFFFF;
float:left;
margin:0 0 10px -19px;
text-align:left;
height: 26px; 
width:626px;
}
#geoip-redirect-search-form { padding-left: 10px; }
#geoip-redirect-search-form-caption { margin-top: 2px; padding-left: 25px; padding-right: 5px; font-weight: bold; color: #333333; font-size: 14px; float: left; }
#geoip-redirect-search-form #edit-country-wrapper { margin-top: 2px; padding-right: 2px; float: left; }
#geoip-redirect-search-form #edit-zipcode-wrapper { margin-top: 2px; padding-right: 4px; float: left; }
#geoip-redirect-search-form .form-submit { margin-top: 1px; }

.panels-flexible-region-first { margin-top: -25px; }
.panels-flexible-region-last { margin-top: -45px; }
.panels-flexible-row-last { padding-top: 20px; }
